/*===================================== 
CUSTOM CSS 
======================================*/

/*** ERROR STYLES ***/
.error{
	color:#dd4545!important;
}
.error-list{
	display: block;
	margin:auto;
	width: 80%;
}
.error-list .error-item{
	color:#dc3545!important;
}
/*-- END ERROR STYLES --*/

/** MODAL STYLES **/

.modal-header--success{

}
.modal-header--error{
	background-color: #dc3545!important;
}

/** END MODAL STYLES **/

/** GENERAL  **/

.cancel-btn{
	display: none;
}
.modal .cancel-btn{
	display: block;
}

.vdp-datepicker input{
	border: 1px solid #d2d2d2;
    width: 10em;
    height: 2.2em;
    padding: .3em .5em;
    font-size: 1em;
}

.fixed-size-img {
	display: block;
	width: 100%;
    height: auto;
}
.fixed-size-img img {
	display: block;
	margin: 0;
	width: 100%;
	height: 324px;
	object-fit: cover;
}