.filter-form{
	.form-group{
		position: relative;
	    display: inline-flex;
	    vertical-align: middle;
	    margin-top: 8px;
	    margin-bottom: 0;

	    .form-control{
	    	margin-right: 10px;
	    }
	}
}